access_key = "*****"
secret_key = "*****"
aws_region = "us-east-1"
aws_owner = "jlerm@us.ibm.com"
aws_image = "ami-0916c408cb02e310b"
vpc_name_tag = "acg-vpc1"
subnet_ids = ["subnet-02cffe55b3bf5c78e"]
security_group_ids = ["sg-02b1da7dd24a3dc01"]
vm_ipv4_prefix_length = "24"
time_server = "169.254.169.123"
monkey_mirror = "172.32.2.165"
cloud_install_tar_file_name = "cloud_install-jlermdev-7feb2020-1702.tar"
vm_dns_servers = ["8.8.8.8"]
availability_zones = ["us-east-1a"]
vm_domain = "cp4daws2.jlerm.local"
vm_name_prefix = "cp4daws2"
public_nic_name = "eth0"
icp_network_cidr = "192.1.0.0/16"
icp_service_cluster_ip_range = "192.2.0.0/16"
num_masters = "1"
master_instance_type = "m4.4xlarge"
num_infra = "1"
infra_instance_type = "m4.2xlarge"
num_workers = "3"
worker_instance_type = "m4.4xlarge"
num_idm = "1"
idm_instance_type = "m4.xlarge"
haproxy_instance_type = "m4.xlarge"
nfs_instance_type = "m4.2xlarge"
docker_vol_size = "600"
portworx_vol_size = "300"
cluster_name = "MYCLUSTER"
public_ssh_key_name = "cp4daws2k1"
public_ssh_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC96en4n3pm/o8Lnn3jvuIR1qvfpPmdsajkflhdsjklfhdjslhfdjhsghfQuJVTA4hs+NpA1MBcGMTyAZBdsX/Wgjwf4LdJBykRvSoEYDeiZen6WQA0jHxFpTOonr root@xxx.yyy.local"
private_ssh_key = "*****"
ssh_key_passphrase = "*****"
ebs_vol_iops = "1000"
cp4d_addons = ["wml","wsl","spark"]
cp4d_num_db2wh_nodes = "0"
hdp_driver_ip = ""
hdp_edge_node_hostname = ""
hdp_edge_node_ip = ""
install_portworx = "0"
idm_primary_hostname = ""
idm_primary_ip = ""
idm_replica_hostname = ""
idm_replica_ip = ""
idm_admin_password = ""
idm_ldapsearch_password = ""
idm_directory_manager_password = ""

