datacenter = "dal10"
private_vlan_number = "1457"
private_vlan_router = "bcr01a.dal10"
public_vlan_number = "1345"
public_vlan_router = "fcr01a.dal10"
time_server = "time.service.softlayer.com"
monkey_mirror = "10.176.112.139"
cloud_install_tar_file_name = "cloud_install-master-13feb2020-2227.tar"
vm_dns_servers = ["10.0.80.11"]
sudo_user = "sudo1"
sudo_password = "pwd12345"
vm_domain = "jlerm.ibm.local"
vm_name_prefix = "jlcpd"
public_nic_name = "eth1"
private_nic_name = "eth0"
public_ssh_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC96en4n3pm/o8Lnn3jvuIR1qvfpPmcV+JPIB80+yZbxLRCZ1X/YxFxysgsAt32rVuW7Uo+P8Hx3djY8t3y3PN6A1EDu6kQ64TKWtLE9cSg5MAoTgkQMxhAiqgVLpQRqzEktTsbVszExBA48EAE/CtXh2rHHWQKpXSoGNR34CDu2WK8Mrs03jx2epUOC6IVmIycrlzHHmCmyCPB/MWF5gHsPEu6Bs/3wYbjxISsfjow7NAwLavXkd+eL7P165KbR7MycFpGYyZb/Z6yZiQ0wQuJVTA4hs+NpA1MBcGMTyAZBdsX/Wgjwf4LdJBykRvSoEYDeiZen6WQA0jHxFpTOonr root@jlermdev132.jlerm.co"
private_ssh_key = "*****"
ssh_key_passphrase = "*****"
driver_ip = "10.177.65.246"
